%align_content_horizontally{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

%align_content_perfectly{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');



body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

$nav_font_size: max(24px, calc(20px + 0.4vw));
$nav_background_color: hsl(0,2%,20%);
$nav_font_color: hsl(0, 2%, 98%);
$nav_padding: 14px;

nav{
    
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $nav_background_color;
    padding: $nav_padding;
    overflow-y: auto;
    height:100vh;
    float:right;
    color: $nav_font_color;
    span{
        font-family: "Lato", "Roboto", sans-serif;
        font-size: $nav_font_size;
    }
    .nav_item{
        width: 100%;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.3s;
        padding: 8px;
        @extend %align_content_perfectly;
        svg{
            
            width: $nav_font_size;
            height: $nav_font_size;
        }
        
        span{
            margin-left: 8px;
            
        }
    }
    .nav_item:hover{
        background-color: $nav_font_color;
        color: $nav_background_color;
    }
    .nav_icon{
        max-width:140px;
        img{
            max-width:100%;
            cursor:pointer;
        }
        @extend %align_content_perfectly;
        padding-bottom: 6px;
        border-bottom: 2px solid hsl(0,2%, 78%);
        margin-bottom: 9px;
    }
    #expand_nav_btn{
        display:none;
    }
    .nav_control{
        transition: all 0.3s;
        padding: 8px;
        border-radius: 4px;
        cursor:pointer;
        position: absolute;
        bottom: 8px;
        svg{
            width: max(24px, calc((20px + 0.4vw) * 1.65));
            height: max(24px, calc((20px + 0.4vw) * 1.65));
        }
    }
    .nav_control:hover{
        background-color: $nav_font_color;
        color: $nav_background_color;
    }
}


