@use "Nav";
@use "Modall";
%cool_borders{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: 1.5px solid rgba(0, 0, 0, 0.125);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(0,0%,9%);
}

#body_wrapper {
    width: 100%;
    height: 100%;
    /*background-color: hsl(0deg, 0%, 90%);*/
    background-color: hsl(0,0%,9%);
    overflow-x: hidden;
    overflow-y: auto;
}
*{
    font-family: "Lato", sans-serif !important;
    word-break: break-word;
}
main{
    display: grid;
    height: 100vh;
    max-height: 100vh;
    padding: 1.3vw;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 65fr 35fr;
    column-gap: 1.3vw;
    row-gap: 2.5vh;
   *{
       font-size: 1.125rem;
   }
    > div{
        /*@extend %cool_borders;*/
        padding: 12px;
        background-color: hsla(0,0%,31%);
        color: hsl(0, 2%, 98%);
        border-radius: 8px;
    }
    #input_div{
        grid-column: 1 / 3;
    }
    #search_form, #delete_container{
        height: 100%;
        padding:12px;
        @extend %align_content_perfectly;
        label, p{
            font-size: max(24px, calc(20px + 0.4vw));
            
        }
        input, span{
            font-size: max(20px, calc(16px + 0.4vw)) !important;

        }
        
        >div{
            width:100%;
            @extend %align_content_perfectly;
        }
        button{
            padding: 10px;
            font-size: max(24px, calc(20px + 0.4vw));
            margin-top: 2vh;
            width: 40%;
            min-width: 100px;
            max-width: 200px;
        }
    }
    #player_div{
        width: 100%;
        height: 100%;
    }
    #note_input{
        width:100%;
        height: 70%;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: initial;
        color: hsl(0, 2%, 98%);
        resize: none;
    }
    #note_input:focus{
        outline: none;
    }
    #input_div{
        display: flex;
        flex-flow: column nowrap;
    }
    #controls_container{
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        svg{
            width: max(24px, calc((20px + 0.4vw) * 1.35));
            height: max(24px, calc((20px + 0.4vw) * 1.35));
        }
    }
    #submit_note{
        cursor: pointer;
        
        border-radius: 4px;
        transition: all 0.2s;
        padding: 8px 8px 8px 2.5px;
    }
    #submit_note:hover{
        background-color:hsl(0, 2%, 98%);
        color:hsl(0,2%,20%) ;
    }
    #notes_body_container{
        
        overflow: auto;
        
    }
    #notes_div{
        overflow: auto;
    }
    .individual_note{
        padding: 7px;
        margin-top: 4px;
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    .individual_note:hover{
        background-color:  hsla(0,0%,40%);
        cursor: pointer;
    }
    .individual_note.selected{
        background-color:  hsla(0,0%,40%);
        
    }
    .delete_main_note_btn{
        max-width:20px;
        position:absolute;
        left: 4px;
        top: 4px;
        z-index: 2;
        cursor: pointer;
        display:none;
    }
    .individual_note_time{
        word-break: normal;
        font-weight: bolder;
    }
    
    
    
}



