@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
main #search_form, main #delete_container, main #search_form > div, main #delete_container > div, .nav_item, nav #notes_container, nav .nav_icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #343232;
  padding: 14px;
  overflow: auto;
  height: 100vh;
  float: right;
  color: #fafafa;
  width: 17%;
  min-width: 168px;
  max-width: 215px;
}
nav span {
  font-size: max(24px, calc(20px + 0.4vw));
}
nav .nav_icon {
  max-width: 100%;
  padding-bottom: 6px;
  border-bottom: 2px solid #c8c6c6;
  margin-bottom: 9px;
}
nav .nav_icon img {
  max-width: 75%;
  cursor: pointer;
}
nav #expand_nav_btn {
  display: none;
}
nav #notes_container {
  display: none;
  margin-top: 9px;
  border-top: 2px solid #c8c6c6;
  padding-top: 6px;
}
nav #notes_container span {
  font-size: max(19px, calc(15px + 0.4vw));
}
nav #notes_container.shown {
  display: flex;
}
nav #bottom_buttons_container {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-flow: row wrap;
}
nav #bottom_buttons_container svg {
  width: max(24px, calc((20px + 0.4vw) * 1.65));
  height: max(24px, calc((20px + 0.4vw) * 1.65));
  /*
  width:30%;
  height:30%;
  */
}
nav .button_control {
  transition: all 0.2s;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
nav .button_control:hover {
  background-color: #fafafa;
  color: #343232;
}

.nav_item {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  padding: 8px;
  margin-top: 2px;
}
.nav_item svg {
  width: max(24px, calc(20px + 0.4vw));
  height: max(24px, calc(20px + 0.4vw));
}
.nav_item span {
  margin-left: 8px;
  letter-spacing: 0.8px;
}

.nav_item:hover {
  background-color: #fafafa;
  color: #343232;
}

.nav_item.selected {
  background-color: #fafafa;
  color: #343232;
}

nav.float_left {
  float: left;
}
nav.float_left #nav_float_left {
  display: none;
}
nav.float_left #nav_float_right {
  display: block;
}

nav.float_right {
  float: right;
}
nav.float_right #nav_float_left {
  display: block;
}
nav.float_right #nav_float_right {
  display: none;
}

nav.collapsed {
  width: unset;
  min-width: 78px;
}
nav.collapsed > * {
  display: none !important;
}
nav.collapsed #bottom_buttons_container {
  display: block !important;
}
nav.collapsed #expand_nav_btn {
  display: block !important;
}
nav.collapsed #collapse_nav_btn {
  display: none !important;
}
nav.collapsed #nav_float_left {
  display: none !important;
}
nav.collapsed #nav_float_right {
  display: none !important;
}

.modall {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.85);
  /* Black w/ opacity */
  overflow-y: auto;
}
.modall .close_modall {
  user-select: none;
  color: #bbb;
  position: fixed;
  right: 10px;
  top: 0px;
  font-size: calc(30px + 0.8vw) !important;
  font-weight: bolder;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.modall .close_modall:hover {
  color: #f1f1f1;
}

.modall-content {
  overflow: auto;
  width: 95%;
  max-width: 800px;
  background-color: #4f4f4f;
  color: #fafafa;
  border-radius: 8px;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
}

#body_wrapper {
  width: 100%;
  height: 100%;
  /*background-color: hsl(0deg, 0%, 90%);*/
  background-color: #171717;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  font-family: "Lato", sans-serif !important;
  word-break: break-word;
}

main {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  padding: 1.3vw;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 65fr 35fr;
  column-gap: 1.5vw;
  row-gap: 3vh;
}
main * {
  font-size: 1rem;
}
main > div {
  /*@extend %cool_borders;*/
  padding: 12px;
  background-color: #4f4f4f;
  color: #fafafa;
  border-radius: 8px;
}
main #input_div {
  grid-column: 1/3;
}
main #search_form, main #delete_container {
  height: 100%;
  padding: 12px;
}
main #search_form label, main #search_form p, main #delete_container label, main #delete_container p {
  font-size: max(24px, calc(20px + 0.4vw));
}
main #search_form input, main #search_form span, main #delete_container input, main #delete_container span {
  font-size: max(20px, calc(16px + 0.4vw)) !important;
}
main #search_form > div, main #delete_container > div {
  width: 100%;
}
main #search_form button, main #delete_container button {
  padding: 10px;
  font-size: max(24px, calc(20px + 0.4vw));
  margin-top: 2vh;
  width: 40%;
  min-width: 100px;
  max-width: 200px;
}
main #player_div {
  width: 100%;
  height: 100%;
}
main #note_input {
  width: 100%;
  height: 70%;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: initial;
  color: #fafafa;
  resize: none;
}
main #note_input:focus {
  outline: none;
}
main #input_div {
  display: flex;
  flex-flow: column nowrap;
}
main #controls_container {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
main #controls_container svg {
  width: max(24px, calc((20px + 0.4vw) * 1.35));
  height: max(24px, calc((20px + 0.4vw) * 1.35));
}
main #submit_note {
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  padding: 8px 8px 8px 2.5px;
}
main #submit_note:hover {
  background-color: #fafafa;
  color: #343232;
}
main #notes_body_container {
  width: 100%;
  height: 100%;
}
main .individual_note {
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main .individual_note_time {
  word-break: normal;
  font-weight: bolder;
}