.nav_item, nav #notes_container, nav .nav_icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #343232;
  padding: 14px;
  overflow: auto;
  height: 100vh;
  float: right;
  color: #fafafa;
  width: 17%;
  min-width: 168px;
  max-width: 215px;
}
nav span {
  font-size: max(24px, calc(20px + 0.4vw));
}
nav .nav_icon {
  max-width: 100%;
  padding-bottom: 6px;
  border-bottom: 2px solid #c8c6c6;
  margin-bottom: 9px;
}
nav .nav_icon img {
  max-width: 75%;
  cursor: pointer;
}
nav #expand_nav_btn {
  display: none;
}
nav #notes_container {
  display: none;
  margin-top: 9px;
  border-top: 2px solid #c8c6c6;
  padding-top: 6px;
}
nav #notes_container span {
  font-size: max(19px, calc(15px + 0.4vw));
}
nav #notes_container.shown {
  display: flex;
}
nav #bottom_buttons_container {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-flow: row wrap;
}
nav #bottom_buttons_container svg {
  width: max(24px, calc((20px + 0.4vw) * 1.65));
  height: max(24px, calc((20px + 0.4vw) * 1.65));
  /*
  width:30%;
  height:30%;
  */
}
nav .button_control {
  transition: all 0.2s;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
nav .button_control:hover {
  background-color: #fafafa;
  color: #343232;
}

.nav_item {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  padding: 8px;
  margin-top: 2px;
}
.nav_item svg {
  width: max(24px, calc(20px + 0.4vw));
  height: max(24px, calc(20px + 0.4vw));
}
.nav_item span {
  margin-left: 8px;
  letter-spacing: 1px;
}

.nav_item:hover {
  background-color: #fafafa;
  color: #343232;
}

.nav_item.selected {
  background-color: #fafafa;
  color: #343232;
}

nav.float_left {
  float: left;
}
nav.float_left #nav_float_left {
  display: none;
}
nav.float_left #nav_float_right {
  display: block;
}

nav.float_right {
  float: right;
}
nav.float_right #nav_float_left {
  display: block;
}
nav.float_right #nav_float_right {
  display: none;
}

nav.collapsed {
  width: unset;
  min-width: 78px;
}
nav.collapsed > * {
  display: none !important;
}
nav.collapsed #bottom_buttons_container {
  display: block !important;
}
nav.collapsed #expand_nav_btn {
  display: block !important;
}
nav.collapsed #collapse_nav_btn {
  display: none !important;
}
nav.collapsed #nav_float_left {
  display: none !important;
}
nav.collapsed #nav_float_right {
  display: none !important;
}